# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

#print(pd.__version__)

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [19]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

In [4]:
properties.columns

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

In [5]:
properties.isna().any()

Unnamed: 0               True
City of London          False
Barking & Dagenham      False
Barnet                  False
Bexley                  False
Brent                   False
Bromley                 False
Camden                  False
Croydon                 False
Ealing                  False
Enfield                 False
Greenwich               False
Hackney                 False
Hammersmith & Fulham    False
Haringey                False
Harrow                  False
Havering                False
Hillingdon              False
Hounslow                False
Islington               False
Kensington & Chelsea    False
Kingston upon Thames    False
Lambeth                 False
Lewisham                False
Merton                  False
Newham                  False
Redbridge               False
Richmond upon Thames    False
Southwark               False
Sutton                  False
Tower Hamlets           False
Waltham Forest          False
Wandsworth              False
Westminster             False
Unnamed: 34              True
Inner London            False
Outer London            False
Unnamed: 37              True
NORTH EAST              False
NORTH WEST              False
YORKS & THE HUMBER      False
EAST MIDLANDS           False
WEST MIDLANDS           False
EAST OF ENGLAND         False
LONDON                  False
SOUTH EAST              False
SOUTH WEST              False
Unnamed: 47              True
England                 False
dtype: bool

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [6]:
del properties["Unnamed: 34"]
del properties["Unnamed: 37"]
del properties["Unnamed: 47"]
properties.isna().sum()

Unnamed: 0              1
City of London          0
Barking & Dagenham      0
Barnet                  0
Bexley                  0
Brent                   0
Bromley                 0
Camden                  0
Croydon                 0
Ealing                  0
Enfield                 0
Greenwich               0
Hackney                 0
Hammersmith & Fulham    0
Haringey                0
Harrow                  0
Havering                0
Hillingdon              0
Hounslow                0
Islington               0
Kensington & Chelsea    0
Kingston upon Thames    0
Lambeth                 0
Lewisham                0
Merton                  0
Newham                  0
Redbridge               0
Richmond upon Thames    0
Southwark               0
Sutton                  0
Tower Hamlets           0
Waltham Forest          0
Wandsworth              0
Westminster             0
Inner London            0
Outer London            0
NORTH EAST              0
NORTH WEST              0
YORKS & THE HUMBER      0
EAST MIDLANDS           0
WEST MIDLANDS           0
EAST OF ENGLAND         0
LONDON                  0
SOUTH EAST              0
SOUTH WEST              0
England                 0
dtype: int64

In [7]:
properties= properties.transpose()
#properties.isna().sum()
properties.head()

,0,1,2,3,4,5,6,7,8,9,...,309,310,311,312,313,314,315,316,317,318
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,798499.1646,836807.0518,769391.7847,801999.0466,760383.824,730222.3496,726743.0772,739454.4285,767715.6627,756163.9647
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,301702.4656,304852.1338,305012.3291,309560.1023,311684.9905,315391.0211,314172.1341,313280.4834,310713.7151,319220.4702
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,533619.23,530353.5205,528816.4928,532528.0926,538413.261,538537.8796,542794.6969,538530.3551,540475.0074,548442.3483
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,345061.4945,345404.9836,346252.9145,352260.8385,356024.477,359368.9877,362227.5335,364947.2557,364266.9832,364502.0488

In [8]:
properties = properties.reset_index()

In [9]:
properties.index

RangeIndex(start=0, stop=46, step=1)

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [10]:
properties= properties.rename(columns= { 'index':'London_Borough',pd.NaT:'ID'})

In [11]:
properties.head()

,London_Borough,0,1,2,3,4,5,6,7,8,...,309,310,311,312,313,314,315,316,317,318
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,798499.1646,836807.0518,769391.7847,801999.0466,760383.824,730222.3496,726743.0772,739454.4285,767715.6627,756163.9647
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,301702.4656,304852.1338,305012.3291,309560.1023,311684.9905,315391.0211,314172.1341,313280.4834,310713.7151,319220.4702
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,533619.23,530353.5205,528816.4928,532528.0926,538413.261,538537.8796,542794.6969,538530.3551,540475.0074,548442.3483
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,345061.4945,345404.9836,346252.9145,352260.8385,356024.477,359368.9877,362227.5335,364947.2557,364266.9832,364502.0488

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [12]:
clean_properties = pd.melt(properties, id_vars= ['London_Borough', 'ID'])

KeyError: "The following 'id_vars' are not present in the DataFrame: ['ID']"

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [13]:
#properties.shape

In [14]:
clean_properties.head()

NameError: name 'clean_properties' is not defined

In [ ]:
#renaming variable and value columns names
clean_properties = clean_properties.rename(columns = {'variable': 'Month','value': "Avg_price"})

In [ ]:
clean_properties.head()

In [ ]:
#clean_properties.dtypes

In [ ]:
clean_properties['Avg_price']=pd.to_numeric(clean_properties['Avg_price'])

In [ ]:
#clean_properties.dtypes

In [ ]:
#clean_properties.isna().sum()

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [ ]:
clean_properties.count()

In [ ]:
#clean_properties["London_Borough"].unique()

#### Filltering and getting rid of all data that is not concerning the 32  boroughs of London

In [ ]:
# creating a list of non-Boroughs
non_Boroughs_list = ['Inner London', 'Outer London', 
               'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER', 
               'EAST MIDLANDS', 'WEST MIDLANDS',
              'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST', 
              'SOUTH WEST', 'England']

In [ ]:
#Filter rows values for Boroughs_properties that are NOT in the nonBoroughs list.
Boroughs_properties = clean_properties[~clean_properties.London_Borough.isin(non_Boroughs_list)]
#Boroughs_properties.London_Borough.unique()

In [ ]:
# Setting the clean dataFrame to: df
df = Boroughs_properties
df.head()

#### Filltering and getting rid of all observation rows that are not between 1998 and 2018

In [ ]:
# We are interested in data over the period of TWO DECADES back: 1998-2018 

temp_df = df.set_index("Month").sort_index()
df_temp = temp_df.loc["1998-01-01":"2018-01-01"]

#reset index back to range index
df_temp = df_temp.reset_index()

#df_temp

In [ ]:
""" 
TO Dipanjan: 

Question 1 - what happend to column Avg_price?
why the format of the float has changed, to 1 dot aftaer the first number?,
and whats the best way to deal with it?
"""
#check out: scientific notation

In [ ]:
# return to original df column order and set back to : df
df = df_temp[["London_Borough","ID","Month","Avg_price"]]
#df

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

#### ** More plots are shown in the Modeling section

In [ ]:
df[df["London_Borough"]=='Hackney'].plot(x="Month",y="Avg_price", kind="line")
plt.title("Hackney's properties average price over 1998-2018")
plt.show()

In [ ]:
import seaborn as sns
sns.lineplot(data=df, x="Month", y="Avg_price", hue="London_Borough",legend= False)

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

#### Limiting the number of data points we have, by extracting the year from every month value:

In [ ]:
df["Year"] = df["Month"].apply(lambda m : m.year) 
#df

#### Grouping-by Borough and year

In [15]:
borough_yearly_mean = df.groupby(["London_Borough","Year"])["Avg_price"].mean()
#borough_yearly_mean

#returning it to DataFrame view: dfg,  by reseting the index
dfg = borough_yearly_mean.reset_index()
#dfg

NameError: name 'df' is not defined

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [16]:
# Sorting out unique boroughs names list: list_of_boroughs

# creating Boroughs names list: list_of_boroughs (contains 'City of London')
dfg_temp = dfg.set_index("London_Borough")

#sort out only unique borough names
list_of_boroughs = list(dfg_temp.index.unique())
#list_of_boroughs

NameError: name 'dfg' is not defined

### Creating a function that calculates a ratio of house prices for each borough, comparing the average price of a house in 2018 to the price in 1998

In [17]:
def create_price_ratio(f_df, from_year, to_year):
    ratios = list()
    for borough in list_of_boroughs:
        avg_price_from_year = f_df[(f_df['London_Borough']==borough) & (f_df['Year'] == from_year)].Avg_price
        avg_price_up_to_year = f_df[(f_df['London_Borough']==borough) & (f_df['Year'] == to_year)].Avg_price
        ratios.append(float(avg_price_from_year)/float(avg_price_up_to_year))
    #print(type(ratios))
    borough_ratios = list(zip(list_of_boroughs,ratios))
    return borough_ratios

#create_price_ratio(dfg, 2018,1998)
#type(create_price_ratio(dfg))

Answer to: 
### Which borough had the greatest increase in housing prices, on average, over the last two decades

In [18]:
max(create_price_ratio(dfg,2018,1998), key=lambda item: item[1])

NameError: name 'dfg' is not defined

### Which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?

In [ ]:
# dataFrame sorted by greatest increase in descending order
Sorted_by_AvgPriceRatio = sorted(create_price_ratio(dfg,2018,1998), key=lambda x: x[1], reverse=True)

In [ ]:
# present each borough with it's ratio in DataFrame look: 
bor_list=list()
rat_list=list()

#separating boroughs and ratios in seperate lists
for item in Sorted_by_AvgPriceRatio:
    bor,rat = item
    bor_list.append(bor)
    rat_list.append(rat)

#create dictionary with borough and ratios as keys
bor_dict = {'London_Borough':bor_list, 'Price_Ratio':rat_list }
#import dictionary to a DataFrame for better presentation
df_ratios = pd.DataFrame(bor_dict)

#### Function that creates top X boroughs plot lines over 1998-2018

In [ ]:
def topX_line_plot(dataFrame,top_num):
    topX = dataFrame.head(top_num)
    lbX= list(topX.London_Borough)
    dfX = df[df.London_Borough.isin(lbX)]
    
    return sns.lineplot(data=dfX, x="Month", y="Avg_price", hue="London_Borough")

Presenting:
### All boroughs in descending order:

In [ ]:
#df_ratios

In [ ]:
#show plot line for All 33 boroughs
topX_line_plot(df_ratios,33)

Presenting:
### TOP 5 boroughs

In [ ]:
topX_line_plot(df_ratios,5)

Presenting:
### TOP 3 boroughs

In [ ]:
topX_line_plot(df_ratios,3)

Presenting:
### TOP borough

In [ ]:
topX_line_plot(df_ratios,1)

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!

##### Insight 1
The borough that had the greatest increase in housing prices, on average, between 1998 and 2008 is Hackney borough.

##### Insight 2
The top 10 boroughs that have seen on average the greatest increase in housing prices between1998 and 2008 are:

In [ ]:
df_ratios.head(10)

##### Insight 3 
The boroughs that have seen on average the greatest increase in housing prices are not necessarily the most expensive boroughs, as we can see by 'Insight 2’ and the next figure plot: showing plot line for top 10 boroughs with average price increase over 1998-2018.

In [ ]:
topX_line_plot(df_ratios,10)